@page
@model AboutModel

@{
    ViewData["Title"] = "About Me";
}

<h2 class="page-header">About Me</h2>
<p>My name is Tom and I am @Model.Age years old. I graduated as a Bachelors of Computer Science and I would like to be involved in the gaming industry, eventually looking to be a game developer. I like tinkering with around with game dev however recently I've mostly been focused on creating mods for Minecraft, which has helped develop my understanding of codebases and APIs.</p>
<p>I really enjoy knowledge and sharing it with others. Though I do not classify myself as a good teacher by any means, I would like to create some posts to help people learn or understand concepts in a way that helped me understand them. This might include Object Oriented programming such as Java or C#, how to make Minecraft mods or even what is RAM and CPU, how do they work and what do these numbers mean? These are all things that are most likely going to end up on this website in the future.</p>
<h2 class="page-header">Contact</h2>
<p>Best way to contact me is through Discord, my username is <b>Quarris#8049</b>.</p>
<p>If this is a problem for you then you can also contact me on my email <b>quarris@live.co.uk</b>.</p>
<h2 class="page-header">Social</h2>
<a class="fab fa-twitter-square fa-w-16 fa-4x" href="https://twitter.com/quarris123"></a>
<a class="fab fa-twitch fa-w-16 fa-4x" href="https://www.twitch.tv/quarris"></a>